<DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<title>{{title}}</title>

</head>

<body>
</body>
	<p>Search for Image</p>
	<form action='/' method="post">
		<input type='text' name='img' id='img'>
	</form>
	<img src = {{image}}>
	{{> footer}}
<!-- <footer>
	<p>Copyright {{year}}
</footer> -->

</html>