<DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<title>Feature 1</title>

</head>

<body>
	<h1>Feature 1 Stuff</h1>
	<p>Enter Location</p>
	<form action='/viewweather' method='post'>
		<input type='text' name='search' id='search'>
	</form>
</body>
	{{> footer}} 
</html>